.header-attributes {
	background-color: grey;
	height: 75px;
	width: 100%;
}

.image {
	margin-left: 20%;
	padding-top: 15px;
	display: inline-block;
}

.first-menu-item {
	margin-left: 40%;
}

.menu-item {
	display: inline-block;
}

.menu-list {
	list-style-type: none;
	display: inline-block;

}

